<footer class="section-relative section-sm page-footer bg-white context-light">
    <div class="container">
        <div class="inset-xl-left-30">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-lg-12">
                    <div class="row row-50 align-items-lg-center justify-content-lg-between">
                        <div class="col-lg-3 order-lg-1 text-lg-left">
                            <!-- Footer brand-->
                            <div class="footer-brand d-inline-block">
                                <a href="index.html">
                                    <img width='203' height='70' class='img-responsive' src='./assets/images/logo.png' alt=''/>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 order-lg-3 text-md-right">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a class="icon fa fa-instagram icon-xxs icon-circle icon-gray-light" target="_blank" href="https://www.instagram.com/dr.samiullina/"></a></li>
                                <li class="list-inline-item"><a class="icon fa fa-whatsapp icon-xxs icon-circle icon-gray-light" target="_blank" href="https://wa.me/89668737611"></a></li>
                                <li class="list-inline-item"><a class="icon fa fa-telegram icon-xxs icon-circle icon-gray-light" target="_blank" href="https://t.me/samiullina"></a></li>
                                <li class="list-inline-item"><a class="icon fa fa-envelope-o icon-xxs icon-circle icon-gray-light" target="_blank" href="mailto:help@samiullina.com"></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-5 order-lg-2">
                            <p class="text-gray">&copy; <span class="copyright-year"></span> Все права защищены. <a class="text-gray" href="/privacy.html">Политика приватности</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>