<header class="page-head">
    <!-- RD Navbar Transparent-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-minimal rd-navbar-light" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-lg-auto-height="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-inner">
                <div class="rd-navbar-top-panel">
                    <address class="contact-info d-md-inline-block text-left offset-none">
                        <div class="p unit unit-spacing-xs unit-horizontal">
                            <div class="unit-body d-flex align-items-center flex-wrap">
                                <a class="call-button btn btn-ellipse button-primary text-white" style="text-decoration: none !important;" href="tel:+79668737611">
                                    <span class="icon icon-xs icon-circle icon-gray-lighter mdi mdi-phone text-primary"></span>
                                    <span class="ml-1">+7 966 873-76-11</span>
                                </a>
                                <a class="mt-2 call-button btn btn-ellipse button-primary text-white w-100 d-md-none" style="text-decoration: none !important;" href="#main-form">
                                    <span class="ml-1">Заказать звонок</span>
                                </a>
                            </div>
                        </div>
                    </address>
                    <!--Navbar Brand-->
                    <div class="rd-navbar-brand d-none d-lg-inline-block">
                        <a href="/">
                            <img width='459' height='86' class='img-responsive' src='./assets/images/logo.png' alt=''/>
                        </a>
                    </div>

                    <address class="contact-info d-md-inline-block text-left offset-top-10 offset-md-top-0">
                        <div class="p unit unit-horizontal unit-spacing-xs">
                            <div class="unit-left"><span class="icon icon-xs icon-circle icon-gray-lighter mdi mdi-map-marker text-primary"></span></div>
                            <div class="unit-body">Санкт-Петербург<br/>Каменноостровский, 40A</div>
                        </div>
                        <div class="mt-4 text-right d-none d-md-block">
                            <a class="call-button btn btn-ellipse button-primary text-white" style="text-decoration: none !important;" href="#main-form">
                                <span class="ml-1">Заказать звонок</span>
                            </a>
                        </div>
                    </address>
                </div>
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                    <!-- RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                    <!--Navbar Brand-->
                    <div class="rd-navbar-brand d-lg-none"><a href="index.html"><img width='203' height='70' class='img-responsive' src='./assets/images/logo.png' alt=''/></a></div>
                    <button class="rd-navbar-top-panel-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel"><span></span></button>
                </div>
                <div class="rd-navbar-menu-wrap">
                    <div class="rd-navbar-nav-wrap">
                        <div class="rd-navbar-mobile-scroll">
                            <!--Navbar Brand Mobile-->
                            <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='203' height='70' class='img-responsive' src='./assets/images/logo.png' alt=''/></a></div>
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li class="active"><a href="index.html"><span>Главная</span></a></li>
                                <li><a href="/konturnaya-plastika-gub"><span>Контурная пластика губ</span></a></li>
                                <li><a href="/doctor"><span>Ваш доктор</span></a></li>
                                <li><a href="/clients"><span>Отзывы</span></a></li>
                                <li><a href="/pricing"><span>Прайс</span></a></li>
                                <li><a href="/contacts"><span>Контакты</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>